body {
    color: var(--text-color-1);
    background-color: var(--bg-color-1);
    font-family: "Roboto", sans-serif;
}

/* ! COLORS */
:root {
    --text-color-1: #915a3c;
    --text-color-2: #fff;
    --bg-color-1: #fff;
    --bg-color-2: #915a3c;
    --bg-color-3: #f9f9f9;
    --bg-color-4: #f4f4f4;
    --bg-color-5: #faffe1;
    --bg-color-6: #cfb79f;
    --bg-color-7: #fdf5c9;
    --bg-color-8: #f0fffe;
    --shadow-color-1: #fff3e0;
}
/* ! COLORS */

.none {
    display: none;
}

.header {
    max-width: 1920px;
    min-height: 100vh;
}

.container {
    padding: 50px 110px 0 110px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nb__left {
    position: relative;
    display: flex;
    align-items: center;

    & img {
        width: 35px;
        margin-right: 50px;
        cursor: pointer;
    }

    & a {
        font-size: 40px;
        font-weight: 700;
        color: var(--text-color-1);
    }
}

.search {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 700px;
    height: 80px;
    padding: 25px 0 25px 44px;
    font-size: 24px;
    border: 1px solid var(--bg-color-2);
    border-radius: 50px;
    background-color: transparent;
    box-shadow: 0px 0px 30px 10px var(--shadow-color-1);
    transition: all 0.3s ease;
}

.search--active {
    background-color: var(--bg-color-5);
}

.search-container {
    position: relative;
    display: inline-block;
}

.circle {
    position: absolute;
    background-color: var(--bg-color-6);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%) scale(0.5);
    transition: all 0.3s ease;
    z-index: 1;
}

.search-icon {
    position: relative;
    margin-right: 35px;
    z-index: 2;
}

.search-container:hover .circle {
    opacity: 0.3;
    transform: translate(-80%, -50%) scale(1);
}

.nb__right {
    display: flex;
    align-items: center;
    gap: 85px;
    cursor: pointer;

    & img {
        width: 35px;
    }
}

.page-wrapper {
    display: flex;
    position: relative;
    min-height: 100vh;
}

/*! Боковое меню */
.menu__left-items {
    position: absolute;
    left: 0;
    margin-left: -650px;
    margin-top: 50px;
    z-index: 100;
    transition: margin-left 0.5s ease-in-out;
}

.menu__left-items.slide {
    margin-left: -110px;
}

.menu__left-items ul {
    font-size: 28px;
    letter-spacing: 3.6px;
}

.menu__left-items ul li {
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 110px;
    cursor: pointer;
}

.menu__left-items ul li img {
    margin-right: 50px;
    height: 1.2em;
    width: auto;
}

.menu__left-items ul li.active {
    background-color: var(--bg-color-7);
    border-radius: 0px 50px 50px 0px;
}

.menu__left-items ul li:not(.active):hover {
    background-color: var(--bg-color-8);
    border-radius: 0px 50px 50px 0px;
}
/*! Боковое меню */

.create-new__list {
    position: absolute;
    transition:
        left 0.5s ease-in-out,
        box-shadow 0.3s ease-in;
    display: block;
    width: 540px;
    height: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 60px 60px 60px;
    text-align: center;
    cursor: pointer;
    background-color: var(--bg-color-3);
    border-radius: 30px;
    box-shadow: 0px 0px 69px 10px var(--shadow-color-1);

    & span {
        font-size: 156px;
        line-height: 1;
    }

    & p {
        font-size: 48px;
        margin: 0;
    }
}

.create-new__list:hover {
    box-shadow: 10px 10px 69px 30px var(--shadow-color-1);
}
