body {
    max-width: 1920px;
    height: 100vh;
    max-height: 920px;
    overflow: hidden;
    color: var(--text-color-1);
    background-color: var(--bg-color-1);
    font-family: "Roboto", sans-serif;
    user-select: none;
}

/* ! COLORS */
:root {
    --text-color-1: #915a3c;
    --text-color-2: #fff;
    --text-color-3: #8308d1;
    --bg-color-1: #fff;
    --bg-color-2: #915a3c;
    --bg-color-3: #f9f9f9;
    --bg-color-4: #f4f4f4;
    --bg-color-5: #faffe1;
    --bg-color-6: #cfb79f;
    --bg-color-7: rgba(253, 245, 201, 0.5);
    --bg-color-8: #f0fffe;
    --bg-color-9: #8308d1;
    --bg-color-10: #fff4bd;
    --shadow-color-1: #fff3e0;
    --shadow-color-2: #fedfff;
    --shadow-figure-1: rgba(20, 185, 116, 0.5);
    --shadow-figure-2: rgba(93, 80, 239, 1);
    --shadow-figure-3: rgba(241, 117, 2, 0.4);
    --shadow-figure-4: rgba(67, 93, 226, 1);
}
/* ! COLORS */

/* ! Welcome page */
.header-wlc a {
    color: var(--text-color-3);
}

.nb__left-wlc {
    position: relative;
    display: flex;
    align-items: center;

    & img {
        margin: -20px 20px 0 0;
        cursor: pointer;
    }

    & a {
        font-size: 40px;
        font-weight: 700;
        color: var(--text-color-3);
    }
}

.nb__right-wlc {
    display: flex;
    align-items: center;
}

.wlc-login {
    padding: 12px 46px;
    margin-right: 45px;
    border-radius: 16px;
    border: 2px solid var(--bg-color-9);
    background-color: var(--bg-color-10);
    transition: all 0.3s ease-in;
}

.wlc-login a {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.9px;
    color: var(--text-color-3);
    transition: all 0.3s ease-in;
}

.wlc-login:hover {
    background-color: var(--bg-color-9);

    & a {
        color: var(--text-color-2);
    }
}

.wlc-join {
    padding: 14px 41px;
    border-radius: 16px;
    border: 2px solid var(--bg-color-9);
    background-color: var(--bg-color-9);
    transition: all 0.3s ease-in;
}

.wlc-join a {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.9px;
    color: var(--text-color-2);
    transition: all 0.3s ease-in;
}

.wlc-join:hover {
    border: 2px solid var(--bg-color-9);
    background-color: var(--bg-color-10);

    & a {
        color: var(--text-color-3);
    }
}

.btns-wlc {
    position: absolute;
    display: flex;
    gap: 45px;
    margin-left: 658px;
    margin-top: 307px;
}

.start-link {
    position: relative;
    z-index: 1000;
    padding: 14px 36px;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.9px;
    border: 2px solid var(--bg-color-9);
    color: var(--text-color-2) !important;
    background-color: var(--bg-color-9);
    transition: all 0.3s ease-in;
}

.start-link:hover {
    border: 2px solid var(--bg-color-9);
    background-color: var(--bg-color-10);
    color: var(--text-color-3) !important;
}

.docs-link {
    position: relative;
    z-index: 1000;
    padding: 14px 32px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.9px;
    border: 2px solid var(--bg-color-9);
    background-color: var(--bg-color-10);
    transition: all 0.3s ease-in;
}

.docs-link:hover {
    background-color: var(--bg-color-9);
    color: var(--text-color-2);
}

.img-obj__one {
    position: absolute;
    width: 320px;
    margin-top: 40px;
    margin-left: 120px;
    filter: drop-shadow(15px 15px 100px var(--shadow-figure-1));
    animation: float 3s ease-in-out 0s infinite;
}

.img-obj__two {
    position: absolute;
    width: 200px;
    margin-top: 468px;
    filter: drop-shadow(15px 15px 100px var(--shadow-figure-2));
    animation: float 3s ease-in-out 0.5s infinite;
}

.img-obj__three {
    position: absolute;
    width: 280px;
    margin-top: 69px;
    margin-left: 1420px;
    filter: drop-shadow(15px 15px 100px var(--shadow-figure-3));
    animation: float 3s ease-in-out 1s infinite;
}

.img-obj__four {
    position: absolute;
    width: 180px;
    margin-top: 550px;
    margin-left: 1316px;
    filter: drop-shadow(15px 15px 100px var(--shadow-figure-4));
    animation: float 3s ease-in-out 1.5s infinite;
}

.img-obj__five {
    position: absolute;
    z-index: 1;
    width: 640px;
    margin-top: 13px;
    margin-left: 530px;
    animation: new-float 7s ease-in-out infinite;
}

.img-platform {
    position: absolute;
    z-index: 1;
    width: 740px;
    margin-top: 63px;
    margin-left: 480px;
    filter: drop-shadow(-30px -150px 100px var(--shadow-color-2));
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes new-float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
/* ! Welcome page */

/* ! notes page */
.none {
    display: none;
}

.header {
    max-width: 1920px;
    min-height: 100vh;
}

.container {
    padding: 50px 110px 0 110px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nb__left {
    position: relative;
    display: flex;
    align-items: center;

    & img {
        position: relative;
        width: 25px;
        margin-right: 50px;
        z-index: 1000;
        cursor: pointer;
    }

    & a {
        font-size: 32px;
        font-weight: 700;
        color: var(--text-color-1);
    }
}

.menu-container {
    position: relative;
    display: inline-block;
}

.circle-menu {
    position: absolute;
    background-color: var(--bg-color-6);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    top: 55%;
    left: 45%;
    opacity: 0;
    transform: translate(-80%, -50%) scale(0.5);
    transition: all 0.5s ease;
    pointer-events: none;
    z-index: 1;
    cursor: pointer;
}

.menu-container.active .circle-menu {
    opacity: 0.3;
    transform: translate(-80%, -50%) scale(1);
    pointer-events: auto;
}

.search {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 550px;
    height: 50px;
    padding: 15px 0 15px 30px;
    font-size: 16px;
    border: 1px solid var(--bg-color-2);
    border-radius: 50px;
    background-color: transparent;
    box-shadow: 0px 0px 30px 10px var(--shadow-color-1);
    transition: all 0.3s ease;
}

.search--active {
    background-color: var(--bg-color-5);
}

.search-container {
    position: relative;
    display: inline-block;
}

.circle {
    position: absolute;
    background-color: var(--bg-color-6);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%) scale(0.5);
    transition: all 0.3s ease;
    z-index: 1;
}

.search-icon {
    position: relative;
    width: 16px;
    margin-right: 24px;
    z-index: 2;
}

input::placeholder {
    color: var(--text-color-1);
}

.search-container:hover .circle {
    opacity: 0.3;
    transform: translate(-80%, -50%) scale(1);
}

.nb__right {
    display: flex;
    align-items: center;
    gap: 85px;

    & img {
        width: 25px;
        cursor: pointer;
    }
}

#grid {
    display: none;
}

/* ! new page */
.page-wrapper {
    display: flex;
    position: relative;
    min-height: 100vh;
}

/*! Боковое меню */
.menu__left-items {
    position: absolute;
    left: 0;
    margin-left: -650px;
    margin-top: 50px;
    z-index: 100;
    transition: margin-left 0.5s ease-in-out;
}

.menu__left-items.slide {
    margin-left: -110px;
}

.menu__left-items ul {
    font-size: 28px;
    letter-spacing: 3.6px;
}

.menu__left-items ul li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 30px;
    cursor: pointer;
}

.left-menu__links {
    width: 430px;
    padding: 23px;
    padding-right: 60px;
    margin-left: 60px;
    color: var(--text-color-1);
}

.left-menu__links:nth-child(3) {
    padding: 23px 0px;
}

.menu__left-items ul li img {
    margin-right: 25px;
    height: 1.2em;
    width: auto;
}

.menu__left-items ul li.active {
    background-color: var(--bg-color-7);
    border-radius: 0px 50px 50px 0px;
}

.menu__left-items ul li:not(.active):hover {
    background-color: var(--bg-color-8);
    border-radius: 0px 50px 50px 0px;
}
/*! Боковое меню */

.notes__days {
    position: absolute;
    display: block;
    width: 170px;
    height: 80px;
    margin-top: 50px;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    transition: left 0.5s ease-in-out;

    & h3 {
        margin-bottom: 10px;
        font-size: 32px;
        font-weight: 500;
    }

    & span {
        font-size: 18px;
        letter-spacing: 15%;
    }
}

.create-new__list {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 200px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 60px 60px 60px;
    cursor: pointer;
    background-color: var(--bg-color-3);
    border-radius: 20px;
    box-shadow: 0px 0px 69px 10px var(--shadow-color-1);
    transition:
        left 0.5s ease-in-out,
        box-shadow 0.3s ease-in;

    & span {
        font-size: 84px;
        line-height: 1;
    }

    & p {
        margin: 0;
        font-size: 24px;
        font-weight: 500;
    }
}

.create-new__list:hover {
    box-shadow: 10px 10px 69px 30px var(--shadow-color-1);
}

.new__page {
    margin: 0 auto;
    margin-top: 100px;
    width: 900px;
    height: 600px;
    /* background-color: var(--bg-color-6); */
}
/* ! new page */
/* ! notes page */

/* ! important page */
.important-page__info {
    position: absolute;
    width: 400px;
    text-align: center;
    transition: left 0.5s ease-in-out;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

    & img {
        width: 350px;
    }

    & p {
        font-size: 32px;
        font-weight: 500;
        margin-top: -30px;
    }
}
/* ! important page */

/* ! planned page */
.planned-page__info {
    position: absolute;
    width: 420px;
    text-align: center;
    transition: left 0.5s ease-in-out;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;

    & img {
        width: 350px;
    }

    & p {
        font-size: 32px;
        font-weight: 500;
        margin-top: -50px;
    }
}
/* ! planned page */

/* ! trash page */
.trash-page__info {
    position: absolute;
    width: 420px;
    text-align: center;
    transition: left 0.5s ease-in-out;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;

    & img {
        width: 350px;
    }

    & p {
        font-size: 32px;
        font-weight: 500;
        margin-top: -30px;
    }
}
/* ! trash page */
